body {
  margin: unset;
}

.App {
  display: flex;
  flex-direction: column;
}

button {
  margin-bottom: 0.5rem;
  border-color: black;
  outline: none;
  height: 3rem;
}

iframe {
  width: 100vw;
  height: calc(100vh - 3.5rem);
  outline: none;
  border: none;
}
